.color {
    background: rgb(10, 120, 230) url(../assets/clouds.png);
    margin: 0;
    padding: 0;
    
}

#screen {
    margin: 0 auto; /* define margens iguais nas laterais */
    max-height: 900px;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    
}
